pipeline/IncrementalIngestion.json
{
	"name": "IncrementalIngestion",
	"properties": {
		"activities": [
			{
				"name": "Copy Azure DW to Lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookup_cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CurrentTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n  'SELECT * FROM ',\n  pipeline().parameters.schema,\n  '.',\n  pipeline().parameters.table,\n  ' WHERE ',\n  pipeline().parameters.cdc_col,\n  ' > ''',\n  if(\n    empty(pipeline().parameters.from_date),\n    activity('lookup_cdc').output.firstRow.cdc_value,\n    pipeline().parameters.from_date\n  ),\n  ''''\n)\n\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.schema",
								"type": "Expression"
							},
							"table": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"cdc_col": {
								"value": "@pipeline().parameters.cdc_col",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(pipeline().parameters.table, '_', variables('current'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "lookup_cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "cdc",
							"file": "cdc.json"
						}
					}
				}
			},
			{
				"name": "CurrentTimestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If incremental data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy Azure DW to Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Copy Azure DW to Lake').output.dataRead, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Delete Empty file",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Parquet1",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@pipeline().parameters.table",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(pipeline().parameters.table, '_', variables('current'))",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "LS_Azure_Data_lake",
										"type": "LinkedServiceReference"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Update_ts",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "max_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc",
											"value": {
												"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": "cdc",
										"file": "empty.json"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": "cdc",
										"file": "cdc.json"
									}
								}
							]
						},
						{
							"name": "max_cdc",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "SELECT MAX(@{pipeline().parameters.cdc_col}) as cdc from @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"table": {
				"type": "string",
				"defaultValue": "DimUser"
			},
			"cdc_col": {
				"type": "string",
				"defaultValue": "updated_at"
			},
			"from_date": {
				"type": "string"
			}
		},
		"variables": {
			"current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}